{% include '1_head_fr.html' %}
<body>
    {% include '1_navbar_fr.html' %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5 text-center">
            <div class="alert alert-success">Paiement effectué ! Merci pour votre achat.</div>
            <h1 class="display-6 fw-bolder mb-4">Merci pour votre achat !</h1>
            <p>Votre commande a bien été enregistrée.</p>
            <a href="{{ url_for('index_fr') }}" class="btn btn-outline-dark mt-3">Retour à la boutique</a>
        </div>
    </section>
</body>
